on early-init
    start ueventd

on init
    export PATH /sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin
    export LD_LIBRARY_PATH /vendor/lib:/system/lib
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard
    mkdir /efs
    mkdir /system
    mkdir /cache
    mkdir /misc
    mkdir /data
    mkdir /recovery
    mkdir /boot
    mkdir /prebuilt
    mkdir /sd-ext
# create mountpoints
    mkdir /mnt 0775 root system
    mkdir /mnt/sdcard 0000 system system
# Backwards Compat - XXX: Going away in G*
    symlink /mnt/sdcard /sdcard
    mount /tmp /tmp tmpfs
    symlink /system/etc /etc

on boot

    ifup lo
    hostname localhost
    domainname localdomain

    class_start default

service ueventd /sbin/ueventd
    critical

service console /system/bin/sh
    console

service recovery /sbin/recovery

service adbd /sbin/adbd recovery
    disabled

service vold /sbin/vold
    socket vold stream 0660 root mount
    socket usbstorage stream 0660 root mount
    ioprio be 2
    socket enc_report stream 0660 root mount

on property:persist.service.adb.enable=1
    start adbd

on property:persist.service.adb.enable=0
    stop adbd
